@import '~bootstrap/scss/bootstrap';

div {
  border: 1px solid black;
  margin: 5px;
}

.atop {
  height: 70px;
}

.box {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-wrap: nowrap;
  height: 80px;
  justify-content: center;
}

.failure {
  color: orange;
}

.messages {
  padding: 20px;
}

.processmsg {
  color: purple;
}
.success {
  color: navy;
}
