@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  background-image: linear-gradient(to left, rgba(40,167,69,.1), rgba(40,167,69,.5));
  font-family: Lato, Helvetica, sans-serif;
}

div {
  border: 1px solid black;
  margin: 5px;
}

.atop {
  height: 70px;
}

.box {
  align-items: center;
  border: 1px solid #000000;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  font-size: 24px;
  height: 105px;
  justify-content: center;

}

.game-opts {
  border: 0;
  overflow-x: hidden;
  padding: 15px;
}

.game-started {
  padding-top: 10px;

}
.failure {
  color: #f28500;
}

.hover:hover {
  background-color: #ffcc00;
  border-color: blue;
}

.messages {
  border: 0;
  padding: 20px;
}

.row {
  border: 0;
}

.success {
  color: #000080;
}
